In [1]:
import os
import pandas as pd

from wbia_miew_id.helpers import split_df

In [2]:
df_annot = pd.read_csv('beluga_example_miewid/annotations.csv')

In [3]:
df_annot.head()

,theta,viewpoint,name,file_name,species,file_path,x,y,w,h
0,0,right,411,000000000001.jpg,beluga_whale,/datasets/beluga-440/000000000001.jpg,0,0,70,440
1,0,right,698,000000000002.jpg,beluga_whale,/datasets/beluga-440/000000000002.jpg,0,0,91,440
2,0,right,700,000000000003.jpg,beluga_whale,/datasets/beluga-440/000000000003.jpg,0,0,93,440
3,0,right,340,000000000008.jpg,beluga_whale,/datasets/beluga-440/000000000008.jpg,0,0,113,440
4,0,right,340,000000000009.jpg,beluga_whale,/datasets/beluga-440/000000000009.jpg,0,0,102,440

In [4]:
df_tr, df_te, df_val = split_df(df_annot, train_ratio=0.7, unseen_ratio=0.5, is_val=True, stratify_col='name', print_key='name', verbose=True, random_state=0)

Filtering...
Before filtering: 6055 annotations
After filtering: 5906 annotations

--------------------------------------------------

Calculating stats for combined subsets
** cross-set stats **

- Counts:
Number of annotations - total:  5906
number of individuals in train:  370
number of annotations in train:  3999

number of individuals in test:  263
number of annotations in test:  933

number of individuals in val:  263
number of annotations in val:  974

train ratio:  0.6771080257365392
average number of annotations per individual in train: 10.81
average number of annotations per individual in test: 3.55
average number of annotations per individual in val: 3.70

- New individuals:
number of new (unseen) individuals in test: 133
ratio of new names to all individuals in test: 0.51

number of new (unseen) individuals in val: 130
ratio of new names to all individuals in val: 0.49
- Individuals in sets:
number of overlapping individuals in train & test: 130
ratio of overlapping names to total individuals in train: 0.35
ratio of overlapping names to total individuals in test: 0.49
Number of annotations in train for overlapping individuals with test:  565
Number of annotations in test for overlapping individuals with train:  569
ratio of annotations in test for overlapping individuals with train:  0.5017636684303352
number of overlapping individuals in train & val: 133
ratio of overlapping names to total individuals in train: 0.36
ratio of overlapping names to total individuals in val: 0.51
Number of annotations in train for overlapping individuals with val:  624
Number of annotations in val for overlapping individuals with train:  621
ratio of annotations in val for overlapping individuals with train:  0.4987951807228916

In [5]:
os.makedirs('beluga_example_miewid/splits', exist_ok=True)

df_tr.to_csv('beluga_example_miewid/splits/train.csv')
df_val.to_csv('beluga_example_miewid/splits/val.csv')
df_te.to_csv('beluga_example_miewid/splits/test.csv')